@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Manrope', sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: 100;
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
  }

  p {
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
  }

  li {
    font-size: 11px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-right: 110px;
    margin-bottom: 0;
    list-style: none;
    font-size: 12px;
  }

  .nav-link,.nav-item {
    flex: 1 1 auto;
    flex-grow: 1;
    text-align: center;
    padding-right: 2rem;
  }
  
  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
  }
 
  .nav-link:hover, .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navbar > .container-fluid
   {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-brand {
    padding-top: 32px;
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: 10px;
    margin-left: 160px;
    font-size: 28.44px;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: var(--bs-navbar-brand-hover-color);
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }}

.d-flex {
    display: flex !important;
    flex-wrap: nowrap;
  }

  img,
  svg {
  vertical-align: middle;
}

  ul { 
    padding-left: 2rem;
  }

  a {
    color: var(--bs-link-color);
    text-decoration: underline;
  }
  a:hover {
    color: var(--bs-link-hover-color);
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  .form-control {
    display: flex;
    width: 100%;
    padding: 0.275rem 12rem;
    padding-left: 1.2rem;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3rem;
  }
  
  
  .justify-content-end {
    justify-content: flex-end !important;
  }

  .me-2 {
    margin-right: 0.2rem !important;
  }

  .dark-mode { 
    background-color: #231f1f;
    color: white;
    
  }

  .form-check {
    display: flex;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
  }
  .form-check .form-check-input {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.2rem;
  }

  .form-check-input {
  width: 0.5em;
  height: 1.75em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  cursor: pointer;

}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 100%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color:black;
  outline: 0;
  box-shadow: 0 0 0 0.25rem black;
}
.form-check-input:checked {
  background-color: #858585;
  border-color: #858585;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input {
  width: 4em;
  margin-left: -1em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

label.form-check-label {
    font-style: italic;
    font-weight: 100;
    color: rgb(94, 90, 90);
}

.form-check-label {
    margin-top: 0.30rem;
}

.introduction-title{
    font-size: 28.44px;
    margin-top: 110px;
    text-align: center;
}

.btn {
  color: black;
  padding: 3px;
  text-decoration: none;
  display: flex;
  border-radius: 3rem;
  justify-content: center;
  margin-top: 20px;
}

#random-drink, #show-all {
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 3rem;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

#cocktail-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 10px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  height: auto;
  border-color: black;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: rgb(94, 90, 90);
  font-family: 'Comfortaa', cursive;
}

.card-text{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
}